:root {
    --primary: #537FE7;
    --secondary: #C0EEF2;
    --bg: #181823;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    color: var(--secondary);
    min-height: 400vh;
}

/* Navbar */
.navbar {
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 24, 35, .7);
    border-bottom: 2px solid var(--primary);
    box-shadow: -5px 8px 10px var(--bg);
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
}

.navbar .navbar-name {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    color: var(--secondary);
}

.navbar .navbar-name span {
    color: var(--primary);
}

.navbar .navbar-ex {
    display: inline-block;
}

.navbar .navbar-ex a {
    margin: 0 .3rem;
    color: var(--secondary);
    font-size: 2rem;
}

/* Sidebar */
.sidebar {
    margin-top: 5.5rem;
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(24, 24, 35, .9);
    box-shadow: -5px 5px 10px black;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
    z-index: 9998;
    transform: scaleX(0);
    /* display: none; */
}

.sidebar-active {
    transform: scaleX(1);
}

.sidebar .sidebar-side {
    display: block;
    justify-content: center;
}

.sidebar .sidebar-side li {
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar .sidebar-side li a {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    color: var(--primary);
    border-radius: 1rem;
}

.sidebar .sidebar-side li a:hover {
    background-color: var(--primary);
    color: var(--bg);
    font-weight: 600;
}

/* Hero */
.hero {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100vh;
    background-image: url('../img/user/bg-jb-user.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 30%;
    background: linear-gradient(0deg, rgba(24, 24, 35, 1) 8%, rgba(24, 24, 35, 0) 50%);
    bottom: 0;
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    line-height: 5rem;
}

.hero .content h1 {
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 1px 1px 3px #181823;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    padding: 0 0 1rem;
    font-size: 1.4rem;
    font-weight: 100;
    text-shadow: 1px 1px 3px #181823;
    line-height: 1.7rem;
}

.hero .content .cta {
    padding: 1rem 2rem;
    background: linear-gradient(175deg, var(--primary) 5%, var(--bg) 100%);
    color: var(--secondary);
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.hero .content .cta:hover {
    background: linear-gradient(175deg, #365294 5%, #040405 100%);
    color: #a1c7ca;
}

/* Recommended */
.recom {
    padding: 6.5rem 7%;
    display: block;
    justify-content: center;
}

.recom .title-recom {
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #181823;
    text-align: center;
}

.recom .title-recom span {
    color: var(--primary);
}

.recom .contain-recom {
    padding: 4.5rem 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
}

.recom .contain-recom .card-recom {
    position: relative;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(160deg, var(--primary) 8%, var(--bg) 110%);
    border-radius: 1rem;
    box-shadow: 0 35px 80px rgba(0, 0, 0, .15);
    transition: .5s;
}

.recom .contain-recom .card-recom:hover {
    height: 400px;
}

.recom .contain-recom .card-recom .img-recom {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background-color: var(--bg);
    border-radius: 1rem;
    overflow: hidden;
    transition: .5s;
}

.recom .contain-recom .card-recom:hover .img-recom {
    top: -100px;
    height: 300px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .2);
}

.recom .contain-recom .card-recom .img-recom img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recom .contain-recom .card-recom .content-recom {
    padding: 0 2rem;
    position: absolute;
    top: 15.5rem;
    width: 100%;
    height: 2rem;
    text-align: center;
    overflow: hidden;
    text-align: center;
    transition: .5s;
}

.recom .contain-recom .card-recom:hover .content-recom {
    top: 11rem;
    height: 250px;
}

.recom .contain-recom .card-recom .content-recom h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg);
}

.recom .contain-recom .card-recom .content-recom p {
    padding: 0 1rem;
    color: var(--secondary);
}

.recom .contain-recom .card-recom .content-recom a {
    padding: 12px 25px;
    position: relative;
    top: 15px;
    display: inline-block;
    background-color: var(--bg);
    color: var(--secondary);
    font-weight: 600;
    border-radius: 1rem;
    transition: .2s;
}

.recom .contain-recom .card-recom .content-recom a:hover {
    background-color: #040405;
    color: #a1c7ca;
    font-weight: 600;
}

/* Category List */
.cat-list {
    padding: 6.5rem 7%;
}

.cat-list .cat-list-title {
    padding: 0 0 2rem;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #181823;
    text-align: center;
}

.cat-list .cat-list-title span {
    color: var(--primary);
}

.cat-list .cat-list-container {
    padding: 0 2rem;
    display: block;
    line-height: 1.5rem;
}

.cat-list .cat-list-container .cat-list-content-main {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
}

.cat-list .cat-list-container .cat-list-content-main .cat-list-img {
    padding: 0 3rem 0 0;
    flex: 1 1 100rem;
    border-right: 3px solid var(--primary);
}

.cat-list .cat-list-container .cat-list-content-main .cat-list-img img {
    width: 100%;
    border-radius: 1rem;
}

.cat-list .cat-list-container .cat-list-content-main .cat-list-explain {
    padding: 0 0 0 3rem;
    flex: 1 1 100rem;
}

.cat-list .cat-list-container .cat-list-content-main .cat-list-explain h1 {
    padding: 0 0 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #181823;
}

.cat-list .cat-list-container .cat-list-content-main .cat-list-explain p {
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.7rem;
    text-align: justify;
}

.cat-list .cat-list-container .cat-list-content-choose {
    padding: 2rem 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cat-list .cat-list-container .cat-list-content-choose a {
    margin: .5rem;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #181823;
    text-transform: uppercase;
    background: linear-gradient(175deg, var(--primary) 5%, var(--bg) 100%);
    color: var(--secondary);
    border-radius: 1rem;
    transition: .3s;
}

.cat-list .cat-list-container .cat-list-content-choose a:hover {
    background: linear-gradient(175deg, #365294 5%, #040405 100%);
    color: #a1c7ca;
    text-shadow: 1px 1px 3px #040405;
}

/* Footer */
.footer {
    padding: 1rem 7%;
    background-color: var(--primary);
}

.footer .footer-foot-btn-up {
    padding: .5rem;
    text-align: center;
    background-color: var(--bg);
    border-radius: 2rem;
}

.footer .foot-title {
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #181823;
}

.footer .footer-foot {
    display: flex;
    justify-content: center;
    line-height: 3rem;
}

.footer .footer-foot .footer-foot-main-maps {
    padding: 0 3rem 0;
    flex: 1 1 100rem;
    border-right: 3px solid var(--bg);
}

.footer .footer-foot .footer-foot-main-maps h1 {
    text-shadow: 1px 1px 3px #181823;
}

.footer .footer-foot .footer-foot-main-maps iframe {
    width: 100%;
    height: 43rem;
    border-radius: 1rem;
    text-shadow: 1px 1px 3px #181823;
}

.footer .footer-foot .footer-foot-main-action {
    padding: 0 3rem 0;
    flex: 1 1 100rem;
}

.footer .footer-foot .footer-foot-main-action .foot-action-socmed, .foot-action-rate {
    display: block;
}

.footer .footer-foot .footer-foot-main-action .foot-action-socmed h1, .foot-action-rate h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px #181823;
}

.footer .footer-foot .footer-foot-main-action .foot-action-socmed h1 span, .foot-action-rate h1 span {
    color: var(--bg);
}

.footer .footer-foot .footer-foot-main-action .foot-action-socmed .foot-action-socmed-btn {
    display: flex;
}

.footer .footer-foot .footer-foot-main-action .foot-action-socmed .foot-action-socmed-btn a {
    margin: .5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: var(--primary);
    border-radius: 2rem;
    text-shadow: 1px 1px 3px #181823;
}

.footer .footer-foot .footer-foot-main-action .foot-action-rate .foot-action-form {
    padding: .2rem 1rem;
    background-color: rgba(24, 24, 35, .7);
    border-radius: 1rem;
}

.footer .footer-foot .footer-foot-main-action .foot-action-rate .foot-action-form .form-comment-rate {
    padding: 1rem;
}

.footer .footer-foot .footer-foot-main-action .foot-action-rate .foot-action-form .form-comment-rate .form-comment {
    margin: .3rem 0 0;
    padding: .3rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: var(--bg);
    font-family: 'Poppins', sans-serif;
    width: 35rem;
}

.footer .footer-foot .footer-foot-main-action .foot-action-rate .foot-action-form .form-comment-rate .rate-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #181823;
}

.footer .footer-foot .footer-foot-main-action .foot-action-rate .foot-action-form .form-comment-rate .form-rate {
    font-size: 2rem;
}

.footer .footer-foot .footer-foot-main-action .foot-action-rate .foot-action-form .form-comment-rate .foot-label {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #181823;
    background-color: rgba(83, 127, 231, .2);
    border-radius: 1rem;
}

.footer .footer-foot .footer-foot-main-action .foot-action-rate .foot-action-form .form-comment-rate .form-send {
    margin: 1rem 0 0;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #181823;
    text-transform: uppercase;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 1rem;
    transition: .2s;
}

.footer .footer-foot .footer-foot-main-action .foot-action-rate .foot-action-form .form-comment-rate .form-send:hover {
    background-color: #365294;
    color: #a1c7ca;
    font-weight: 600;
}

.footer .footer-copyright {
    margin: 1rem 0 0;
    padding: 1rem 0 0;
    border-top: 2.5px solid var(--bg);
}

.footer .footer-copyright p {
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 1px 1px 3px #181823;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }
}

/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}